<!doctype html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href=".{{ url_for('static', filename='style.css') }}" >     
        <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.css" >
        <script src="http://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.js"></script>
    </head>

    <body>
        <nav>
            <iframe allowtransparency="true" src="http://www.naplesnews.com.com/services/cobrand/header/" scrolling="no" frameborder="0" style="border-width:0px; height: 40px; width: 110% !important;margin-left:-10px;"></iframe>
            <a href="http://www.naplesnews.com" target="_blank">
            <img src=".{{ url_for('static', filename='Naples_Hor_ST_Color_RGB.png') }}">
            </a>
        </nav>
        <header>
            <h1>Where racing dogs die in Florida</h1></header></br>
            <h2>Greyhounds have been tied to gambling in Florida since 1931 but this year could be different now that a state Senate bill, <a href="http://www.flsenate.gov/Session/Bill/2017/00008/?Tab=BillText" target="_blank">SB8</a>, would allow card rooms without having the race dogs..</br></br>

            The effort to end dog racing in Florida has been spearheaded by a national tax-exempt non-profit, GREY2K, which argues greyhound racing is a dying industry. GREY2K in 2013 helped implement a rule that requires greyhound race-dog trainers to report when dogs die at race tracks and on kennel grounds to the state. Since then, 383 dogs have been reported dead.</br></br> 

            These are the most accurate data the state has but it is self-reported. Two of Florida's 12 race tracks have a relatively low numbers of reported deaths on their premises since 2013: Naples-Fort Myers Rack Track and Melbourne. The average number of deaths per track is 32. There have been just three reported deaths at the Naples track and six reported deaths at the Melbourne track.</br></br>

            Click on the map to see a pop-up window for every dog who has died in service to Florida’s gaming industry. You can click the hyperlink in that pop-up window to learn more about the dog. You can also learn more by clicking the hyper-linked dog names in the table as well.</h2>

            <h5> Checkout Naples Daily News' companion piece for this story: <a href="http://bit.ly/2ofC66V" target="_blank">Greyhound activists join Florida's gambling fight</a>.</h5></br>
           
            <div class="byline"><p>
                By <a href="http://naplesnews.com/search/Alexandra%20Glorioso/" target="_blank">Alexandra Glorioso</a>
            </p></div>
        </header>
        <div id="map" style="width:95%; height:400px;"></div>
        <h4>Sources: Florida's Department of Business Regulation, GREY2K maintained state records.</h4>
        <table border=2 cellpadding=7>
            <tr>
                <th>Name</th>
                <th>Date of death</th>
                <th>Facility</th>
                <th>City</th>
            </tr>
        {% for obj in object_list %}
            <tr>
                <td><a href="{{ obj.g2k_row_id }}/">{{ obj.g2k_dog_name }}</a></td>
               <td>{{ obj.g2k_date_of_death }}</td>
                <td>{{ obj.g2k_facility_edited }}</td>
                <td>{{ obj.city }}</td>
            </tr>
        {% endfor %}
        </table>
       <iframe allowtransparency="true" src="http://www.naplesnews.com/services/cobrand/footer/" scrolling="no" frameborder="0" style="border-width:0px;height: 150px; width: 100%;"></iframe>
        <script type="text/javascript">
            var map = L.map('map').setView([28.538336, -81.379234], 6);
            var osmLayer = new L.TileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                maxZoom: 18,
                attribution: 'Data, imagery and map information provided by <a href="https://www.openstreetmap.org/" target="_blank">OpenStreetMap</a> and contributors.'
            });
            map.addLayer(osmLayer);
            var data = {
              "type": "FeatureCollection",
              "features": [
                {% for obj in object_list %}
                {
                  "type": "Feature",
                  "properties": {
                    "full_name": "{{ obj.g2k_dog_name }}",
                    "id": "{{ obj.g2k_row_id }}"
                  },
                  "geometry": {
                    "type": "Point",
                    "coordinates": [{{ obj.lng }}, {{ obj.lat }}]
                  }
                }{% if not loop.last %},{% endif %}
                {% endfor %}
              ]
            };
            var blackIcon = L.Icon.extend({
                options: {
                    iconUrl: ".{{ url_for('static', filename='marker-24.png') }}",
                    iconSize: [24, 24]
                }
            });
            var dataLayer = L.geoJson(data, {
                pointToLayer: function (feature, latlng) {
                    return L.marker(latlng, {icon: new blackIcon()});
                },
                onEachFeature: function(feature, layer) {
                    layer.bindPopup(
                        '<a href="' + feature.properties.id + '/">' + 
                        feature.properties.full_name +
                        '</a>'
                    );
                }
            });
            map.addLayer(dataLayer);
        </script>
    </body>
</html>